.container.is-fluid {
  max-width: none;
  padding-left: 15%;
  padding-right: 15%;
  width: 100%;
  margin-bottom: 1rem;
}


.background-images {
  object-fit: cover;
  width: 100%;
  max-height: 300px;
  box-shadow: rgba(10, 10, 10, 0.8) 0px 8px 10px -7px;
}


.hero.is-primary {
  background-color: #fff;
}

.hero-body {
  position: relative;
  padding: 0rem;
  margin-bottom: 50px;
}

#images {
  display: block;
  left: 50%;
  position: absolute;
  bottom: -30px;
  transform: translateX(-50%);
}

.navbar {
  position: fixed;
  top: 0;
  width: 70%;
  left: 15%;
  margin-bottom: 50px;
}

.img-profile-picture {
  outline: none;
  border: 3px solid white;
}

.feed-media {
  margin-bottom: 50px;
}

.content blockquote:not(:last-child),
.content dl:not(:last-child),
.content ol:not(:last-child),
.content p:not(:last-child),
.content pre:not(:last-child),
.content table:not(:last-child),
.content ul:not(:last-child) {
  margin-bottom: 0em;
}

.readmore-text {
  color: rgb(50, 122, 50);
  border-bottom: 3px solid rgb(255, 243, 71);
  transition: all 0.3s;
  background-color: white;
  padding: 0.5px 0px;
}

.readmore-text:hover {
  cursor: pointer;
  color: rgb(50, 122, 50);
  background-color: rgb(255, 243, 71);
  padding: 0.5px 5px;
  color: rgb(20, 15, 15);
}

button.delete:hover {
  background-color: tomato;
}

.svg-inline--fa.fa-comment.fa-w-16 {
  margin-left: 4px;
}

@media (max-width: 1000px) {
  #local-language-bar{
    position: relative;
    z-index: 30;
  }
  .container.is-fluid {
    padding-left: 2%;
    padding-right: 2%;
  }

  .navbar {
    position: fixed;
    top: 0;
    width: 96%;
    left: 2%;
  }
}




