@import url('https://fonts.googleapis.com/css2?family=Thasadith&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.logo { 
  font-family: 'Megrim', cursive;
  color: aliceblue;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
} 

nav{
  font-family: 'Thasadith', sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-height: 7vh;
  min-height: 7vh;
  background-color: #1f1d1d;
}
.nav-links{
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.nav-links li{
  list-style: none;
}
.nav-links a{
  color:white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}
.burger{
  display: none;
}
.burger div{
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.5s ease;
}
@media screen and (max-width:1024px){
  .nav-links{
    width: 40%;
  }
}
@media screen and (max-width:768px){
  body{
    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top:7vh;
    background-color: #1f1d1d;
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 30%;
    transform: translatex(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger{
    display: block;
    cursor: pointer;
  }
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .link1{
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .link2{
  opacity: 0;
}
.toggle .link3{
  transform: rotate(45deg) translate(-5px, -6px);
}