.container.is-fluid {
  max-width: none;
  padding-left: 15%;
  padding-right: 15%;
  width: 100%;
  margin-bottom: 1rem;
}

.background-images {
  width: 100%;
  max-height: 300px;
}

.hero.is-primary {
  background-color: #fff;
}

.hero-body {
  position: relative;
  padding: 0rem;
  margin-bottom: 50px;
}

#images {
  display: block;
  left: 50%;
  position: relative;
  top: -100px;
  transform: translateX(-50%);
}

.navbar {
  position: fixed;
  top: 0;
  width: 70%;
  left: 15%;
  margin-bottom: 50px;
}

#vue-app{
  margin-top:5%;
}

.feed-media {
  margin-bottom: 50px;
}

.content blockquote:not(:last-child),
.content dl:not(:last-child),
.content ol:not(:last-child),
.content p:not(:last-child),
.content pre:not(:last-child),
.content table:not(:last-child),
.content ul:not(:last-child) {
  margin-bottom: 0em;
}

.readmore-text {
  color: rgb(50, 122, 50);
  border-bottom: 3px solid rgb(255, 243, 71);
  transition: all 0.3s;
  background-color: white;
  padding: 0.5px 5px;
}

.readmore-text:hover {
  cursor: pointer;
  color: rgb(50, 122, 50);
  background-color: rgb(255, 243, 71);
  padding: 0.5px 5px;
  color: rgb(20, 15, 15);
}

button.delete:hover {
  background-color: tomato;
}

.svg-inline--fa.fa-comment.fa-w-16 {
  margin-left: 4px;
}

.comment-box {
  margin-left: 80px;
}

.comment-area {
  background-color: #fff;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
  0 0 0 1px rgba(10, 10, 10, 0.02);
  color: #4a4a4a;
  padding: 20px;
  margin: 20px 0 30px 0;
}

.comment-item {
  margin-left: 10%;
}

.edit-form-input{
  width: auto;
}

@media (max-width: 1450px){
  #vue-app{
    margin-top: 7%;
  }
}

@media (max-width: 1000px) {
  .container.is-fluid {
    padding-left: 2%;
    padding-right: 2%;
  }
  
    #vue-app{
      margin-top:9%;
    }
  
}

@media (max-width: 800px) {
  .is-mobile {
    margin-left: 2%;
  }
    #vue-app{
      margin-top: 11.5%;
    }
  
}

@media (max-width: 600px) {
  
  #vue-app{
    margin-top: 13%;
  }

}

@media (max-width: 550px) {
  
  #vue-app{
    margin-top: 15%;
  }

}

@media (max-width: 500px) {
  
  #vue-app{
    margin-top: 17.5%;
  }
  .comment-item {
    margin-left: 0%;
  }

}

@media (max-width: 400px) {
  
  #vue-app{
    margin-top: 20%;
  }

  .is-mobile {
    margin-left: 3%;
  }

}
