.container.is-fluid {
  max-width: none;
  padding-left: 15%;
  padding-right: 15%;
  width: 100%;
  margin-bottom: 1rem;
}

.background-images {
  width: 100%;
  max-height: 300px;
}

.hero.is-primary {
  background-color: #fff;
}

.hero-body {
  position: relative;
  padding: 0rem;
  margin-bottom: 50px;
}

#images {
  display: block;
  left: 50%;
  position: absolute;
  bottom: -30px;
  transform: translateX(-50%);
}

.navbar {
  position: fixed;
  top: 0;
  width: 70%;
  left: 15%;
}

.feed-media {
  margin-bottom: 50px;
}

.readmore-text {
  color: rgb(50, 122, 50);
  border-bottom: 3px solid rgb(255, 243, 71);
  transition: all 0.3s;
  background-color: white;
  padding: 0.5px 5px;
}

.save-profile-message,
.save-profile-info {
  display: none
}

.readmore-text:hover {
  cursor: pointer;
  color: rgb(50, 122, 50);
  background-color: rgb(255, 243, 71);
  padding: 0.5px 5px;
  color: rgb(20, 15, 15);
}

button.delete:hover {
  background-color: tomato;
}

.svg-inline--fa.fa-comment.fa-w-16 {
  margin-left: 4px;
}

.box {
  box-shadow: 0 0.25em 0.2em -0.12em rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .02);
}

.input-form-input,
.textareaMessage {
  display: none;
}

input.isActive {
  display: block;
}

@media (max-width: 1000px) {
  .container.is-fluid {
    padding-left: 2%;
    padding-right: 2%;
  }

  .navbar {
    position: fixed;
    top: 0;
    width: 98%;
  }
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 6vh;
}

.logo{
  margin-left:0%;
}

.nav-links{
  display: flex;
  justify-content:space-around;
  width: 28%;

}

.nav-links a{
  color: #0a0a0a;
  text-decoration: none;
  letter-spacing:3px;
  font-size: 17px;
}
