@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
}



body {
    max-height: 100vh;
    height: 100%;
    background-color: #f8f8fb;
    overflow: hidden;

}

.dot-decoration-background {
    position: absolute;
    top: -20%;
    left: -5%;
    width: 64%;
    height: 140%;
    border-radius: 50%;
    background: url(../images/dot-texture.png) repeat 0 0 #fff;
    transform: translateX(-50%);
}

.main {
    display: flex;
    justify-content: center;
    width: 100vw;
    background-image: url(../images/home-logo.svg);
    background-repeat: no-repeat;
}

.form-container {
    width: 45vw;
    z-index: 2;
    height: 100vh;
}

.login-form,
.signup-form {
    position: relative;
    width: 70%;
    height: 80%;
    background-color: #fff;
    margin: 10% 15%;
    box-shadow: 0 0 60px 0 rgba(94, 92, 154, 0.12);
    border-radius: 20px;
}

.signup-form {
    display: none;
}

.form-box-title {
    text-align: center;
    transform: translateY(30px);
    margin-bottom: 100px;
    font-size: 20px;
    font-weight: 500;
}

.login-btn,
.signup-btn {
    margin: 20px 10px 0 10px;
}

.input-group {
    position: relative;
    margin: 45px 0;
}

.input-group .input-field {
    display: block;
    width: 70%;
    margin: 25px 12%;
    padding: 18px 10px 18px 15px;
    border-radius: 12px;
    background: none;
    background-color: #fff;
    color: #3e3f5e;
    font-size: 18px;
    border: 1px solid #dedeea;
    transition: border-color 0.2s ease-in-out;
    outline: none;
    font-weight: 500;
}

.input-group .form-input-label {
    position: absolute;
    left: 75px;
    top: 18px;
    color: #adafca;
    font-size: 18px;
    font-weight: 400;
    pointer-events: none;
    transition: all 0.3s ease;
}

.input-group .fa-star-of-life {
    position: absolute;
    right: 68px;
    top: 8px;
    color: #080808;
    font-size: 8px;
}

.input-group .fa-check, .input-group .fa-times {
    display: none;
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 15px;
}

.input-group .fa-check {
    color: rgb(32, 189, 32);
}

.input-group .fa-times {
    color: #ff0000;
}

.input-field:focus ~ .form-input-label {
    top: -9px;
    font-size: 14px;
    color: black;
    background-color: #fff;
}

.input-field:focus {
    border-color: #615dfa;
}

.signin-button,
.register-button {
    margin-left: 50%;
    background-color: #615dfa;
    transform: translateX(-50%);
    width: 60%;
    color: white;
    border: none;
}

.label-shrink {
    position: absolute;
    color: #adafca;
    top: -11px;
    left: 70px;
    background-color: #fff;
    font-weight: 400;
    font-size: 14px;
    color: black;
    pointer-events: none;
    transition: all 0.3s ease;
}

.welcome-container {
    position: relative;
    z-index: 2;
    width: 55vw;
    background-color: transparent;
}

.welcome-box {
    width: 30vw;
    background-color: transparent;
    z-index: 2;
    margin-left: 10vw;
    margin-top: 25%;
    text-align: center;
}

.welcome-box > p {
    font-size: 18px;
    font-weight: 400;
}

.welcome-box > h1 {
    position: relative;
    margin: 10px 0 30px 0;
    text-align: center;
    font-size: 55px;
    font-weight: 900;
    line-height: 1em;
    letter-spacing: 2px;
}

.welcome-box > h1::after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 2px;
    transform: translateX(-50%);
    height: 16px;
    border-radius: 5px;
    left: 51%;
    clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 100% 100%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 0 0);
    width: 380px;
    background-image: linear-gradient(to right bottom, #7c78f8, #bebcfa);
    opacity: 0.6;
}

.error-message {
	margin: 25px 0 15px 0;
    padding: 5px;
    background-color: #f2dede;
    border-radius: 15px;
    
}

.error-message > h2{
	color: #b94a48;
	text-align: center;
	font-size: 17px;
}

.logout-message {
	margin: 25px 0 15px 0;
    padding: 5px;
    
    background-color: #dff0d8;
    border-radius: 15px;
    
}

.logout-message > h2{
	color: #468847;
	text-align: center;
	font-size: 17px;
}

.welcome-title {
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*logo images*/
.navbar-item img {
    max-height: 3.75rem !important;
}
/*button component*/
button {
    margin-top: 20px;
    background-color: white;
    padding: 12px 40px;
    border-radius: 20px;
    font-size: 18px;
    border: 2px solid rgb(248, 92, 92);
    box-shadow: 4px 7px 12px 0 rgba(97, 93, 250, 0.2);
    outline: 0;
}

button:hover {
    cursor: pointer;
    background-color: rgb(248, 39, 39);
    color: white;
}

/*media queries*/

@media only screen and (max-width: 1200px) {
    body {
        max-height: auto;
        height: auto;
        overflow: auto;
        overflow-x: hidden;
    }
    .main {
        flex-wrap: wrap-reverse;
    }

    .form-container {
        width: 100vw;
    }

    .login-form,
    .signup-form {
        width: 60%;
        height: 80%;
        margin: 5% 20%;
    }

    .signup-form {
        height: 100%;
        margin: 10% 20%;
    }

    .welcome-container {
        width: 100vw;
    }

    .welcome-box {
        width: 60vw;
        margin-left: 20vw;
        margin-top: 5%;
    }

    .signin-button,
    .register-button {
        transform: translate(-50%, -50%);
    }

    .input-group .form-input-label {
        left: 18%;
    }

    .label-shrink {
        left: 17%;
    }
}

@media only screen and (max-width: 900px) {
    .login-form,
    .signup-form {
        width: 100vw;
        height: 80%;
        margin: 10% 0;
    }

    .signup-form {
        height: 100%;
    }

    .welcome-box {
        width: 96vw;
        margin-left: 2vw;
        margin-bottom: 5%;
    }
}

@media only screen and (max-width: 600px) {
    .welcome-box {
        margin-bottom: 15%;
    }
}

@media only screen and (max-width: 400px) {
    .welcome-box {
        margin-bottom: 20%;
    }
}

/*form animation*/

.login-form-hide {
    top: 100%;
    animation: hideSigninForm 1300ms;
}

.signup-form-show {
    display: block;
    height: 100%;
    top: -100%;
    animation: showSigupForm 1300ms;
}

.login-form-show {
    top: 0%;
    animation: showSigninForm 1300ms;
}

.signup-form-hide {
    display: block;
    top: 10%;
    animation: hideSigupForm 1300ms;
}

/*form animation*/

.login-form-hide {
    top: 100%;
    animation: hideSigninForm 1300ms;
}

.signup-form-show {
    display: block;
    height: 100%;
    top: -100%;
    animation: showSigupForm 1300ms;
}

.login-form-show {
    top: 0%;
    animation: showSigninForm 1300ms;
}

.signup-form-hide {
    display: block;
    top: 10%;
    animation: hideSigupForm 1300ms;
}

.us1{
    position: absolute;
    top: 10px;
    list-style-type: none;
}

.us1:hover{
cursor: pointer;
}

.fi1{
    position: absolute;
    left: 100px;
    top: 10px;
    list-style-type: none;
}

.fi1:hover{
    cursor: pointer;
}


@keyframes showSigupForm {
    from {
        top: 10%;
        opacity: 0.5;
    }
    to {
        top: -100%;
        opacity: 1;
    }
}

@keyframes hideSigninForm {
    from {
        top: 0%;
        opacity: 1;
    }
    to {
        top: 100%;
        opacity: 0;
    }
}

@keyframes hideSigupForm {
    from {
        top: -100%;
        opacity: 1;
    }
    to {
        top: 10%;
        opacity: 0.5;
    }
}

@keyframes showSigninForm {
    from {
        top: 100%;
        opacity: 0.5;
    }
    to {
        top: 0%;
        opacity: 1;
    }
}

.center {
    text-align: center !important;
}
.color-red{
    color: red !important;
}

.show-notification {
    display: block !important;
}

.hide-notification {
    display: none !important;
}

.disabled-button {
    background-color: #080808 !important;
    cursor: not-allowed;
}



.disabled-button:hover {
    background-color: #080808 !important;
    cursor: not-allowed;
}

.button-container {
    position: relative;
}



  