<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:fragment="head(title, pageRelatedHead)">
  <title th:text="${title}">Title</title>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="_csrf" th:content="${_csrf.token}" />
  <meta name="_csrf_header" th:content="${_csrf.headerName}" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />

  <script th:inline="javascript">
    const contextRoot = /*[[ @{/} ]]*/ '';
    const VUE_LOCALES = /*[[ ${@localeFileService.availableVueLocaleFiles()} ]]*/'';
  </script>

  <th:block th:replace="${pageRelatedHead} ?: ~{}" />
</head>

<div th:fragment="locale-switch">
  <li style="position: absolute; top: 10px; list-style-type: none;"
      onclick="switchLocale('en_US')" target="_blank" class="us1">
    <img th:src="@{/images/us1.png}" width="75" height="50"/>
  </li>
  <li style="position: absolute; left: 100px; top: 10px; list-style-type: none;"
      onclick="switchLocale('fi')" class="fi1">
    <img th:src="@{/images/fi1.png}" width="75" height="50"/>
  </li>
  <script>
    function switchLocale(id) {
      const pathname = window.location.pathname
      window.location.replace(`${pathname}?lang=${id}`)
    }
  </script>
</div>

<th:block th:fragment="nav">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" th:href="@{/}">
        <img style="max-height: 3.75rem" th:src="@{/images/TopMessage.png}" />
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
        data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" th:href="@{/}" th:text="#{navbar.link.home}">home link</a>
        <a th:href="@{/users/} + ${authenticatedUser.username}"
          class="navbar-item" th:text="#{navbar.link.profile}">profile link</a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div th:fragment="locale-switch3">
            <a onclick="switchLocale('en_US')" target="_blank">
              <img th:src="@{/images/us1.png}" width="40" height="50"/>
            </a>
            <a style="margin: 10px;" onclick="switchLocale('fi')">
              <img th:src="@{/images/fi1.png}" width="40" height="50"/>
            </a>
            <script>
              function switchLocale(id) {
                const pathname = window.location.pathname
                window.location.replace(`${pathname}?lang=${id}`)
              }
            </script>
          </div>
            <div class="buttons">
              <form method="POST" th:action="@{/logout}">
                <input style="cursor: pointer" class="button is-light" type="submit" 
                  th:value="#{navbar.logoutButton}" />
              </form>
            </div>
        </div>
      </div>
    </div>
  </nav>
  <script th:src="@{/javascript/nav.js}" defer></script>
</th:block>

</html>
