<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/layout :: head(title=#{errorPage.head.title}, pageRelatedHead=~{:: .pageRelatedHead})">
  <th:block class="pageRelatedHead">
  </th:block>
</head>
<body>

<div style="padding: 100px 0 0 100px;" class="container">
  <a th:href="@{/}">
    <img style="max-height: 3.75rem" th:src="@{/images/TopMessage.png}" />
  </a>

  <p style="font-size: 2.2rem" th:text="${status}">status</p>
  <p style="font-size: 2.2rem" class="center" th:text="#{errorPage.info}">There was an error.</p>
  <a style="font-size: 2.2rem; padding-top: 30px;"
     th:text="#{errorPage.linkToFrontPage}"
     th:href="@{/}">to front page</a>
</div>

</body>
</html>