<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
 
<head th:replace="fragments/layout :: head(title=#{index.head.title}, pageRelatedHead=~{:: .pageRelatedHead})">
  <th:block class="pageRelatedHead">
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/http-vue-loader"></script>
    <script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
  </th:block>
</head>
 
<body>
  <section>
    <th:block th:replace="fragments/layout :: nav"></th:block>
  </section>
 
  <div id="vue-app" class="container is-fluid">
    <user-image-hero :user="user"></user-image-hero>
    <notification ref="notification"></notification>

    <post-box :post-service="postService" v-on:update-post-list="setPageToStart"></post-box>
 
    <div class="box">
      <radio-button-group v-if="radioButtonGroupData"
        ref="radioButtons"
        v-on:state-change="updateRadioButtonState"
        :label="radioButtonGroupData.label" :options="radioButtonGroupData.options"
        :default="radioButtonGroupData.options[0]"></radio-button-group>
    </div>
 
    <div class="box">
      <post-list :posts="posts"></post-list>
    </div>
    <pagination v-if="pageable" 
      ref="pagination" 
      :pagination="pageable" 
      :on-page-change="onPageChange"></pagination>
  </div>
 
  <script defer th:inline="javascript" type="module">
    import postService from /*[[ @{/javascript/postService.js} ]]*/''
 
    const user = /*[[ ${authenticatedUser} ]]*/''

    const csrfToken = document
      .querySelector('meta[name="_csrf"]')
      .getAttribute('content')
    Object.assign(user, { csrfToken })
    postService.setCsrfToken(csrfToken)

    const messages = {}
    const dateTimeFormats = {}
    const i18n = new VueI18n({
      locale: '',
      messages,
      dateTimeFormats
    })
    Vue.use(httpVueLoader);
 
    new Vue({
      i18n,
      el: '#vue-app',
      data() {
        return {
          posts: [],
          radioButtonGroupData: null,
          postService,
          user,
          pageable: null
        }
      },
      components: {
        'user-image-hero': `url:${contextRoot}vue/UserImageHero.vue`,
        'post-box': `url:${contextRoot}vue/PostBox.vue`,
        'post-list': `url:${contextRoot}vue/PostList.vue`,
        'radio-button-group': `url:${contextRoot}vue/RadioButtonGroup.vue`,
        'pagination': `url:${contextRoot}vue/Pagination.vue`,
        'notification': `url:${contextRoot}vue/Notification.vue`,
      },
      async created() {
        await this.loadLocale(/*[[${#locale}]]*/'default')

        this.radioButtonGroupData = {
          state: this.$t('index.sortPostsByDate'),
          label: this.$t('index.sortPostsBy'),
          options: [this.$t('index.sortPostsByDate'), this.$t('index.sortPostsByLikes')],
        }

        await this.getPosts()
      },
      methods: {
        async loadLocale(id) {
          i18n.locale = ''

          let messagesResource = VUE_LOCALES[id]

          if (!messagesResource) {
            id = 'en-US'
            messagesResource = VUE_LOCALES['default']
          }
          const response = await fetch(`${contextRoot}locale/${messagesResource}`)
          const translations = await response.json()
          dateTimeFormats[id] = translations.dateTimeFormats
          messages[id] = translations.messages
          i18n.locale = id
        },
        setPageToStart() {
          this.$refs.radioButtons.reset()
          this.$refs.pagination.setPage(1)
        },
        addFunctionsTo(post) {
          Object.assign(post, {
            likePost: this.makeLikePostFunction(post),
            addReaction:  this.makeAddReactionFunction(post),
            deletePost: user.username === post.poster.username ? this.makeDeletePostFunction(post) : null,
            updatePost: user.username === post.poster.username ? this.makeUpdatePostFunction(post) : null
          })
        },
        async getPosts(page = 0) {
          try {
            let pageData = null
            const { state } = this.radioButtonGroupData

            if (state === this.$t('index.sortPostsByLikes')) {
              pageData = await postService.fetchPosts(page, null, 'reactionCount')
            } else {
              pageData = await postService.fetchPosts(page)
            }
            pageData.content.forEach((post) => this.addFunctionsTo(post))
            Object.assign(pageData.pageable, {
              totalPages: pageData.totalPages === 0
                          ? 1
                          : pageData.totalPages
            })

            this.pageable = pageData.pageable
            this.posts = pageData.content
          } catch (e) {
            console.log(e)
          }
        },
        async onPageChange(page) {
          await this.getPosts(page-1)
        },
        async updateRadioButtonState(newState) {
          this.radioButtonGroupData.state = newState
          await this.getPosts(this.$refs.pagination.getPage() - 1)
        },
        makeLikePostFunction(post) {
          const refToThis = this
 
          return async function () {
            try {
              const response = await postService.likePost(post.id)
              post.likeCount = response.likeCount
            } catch (error) {
              refToThis.$refs.notification.show(
                refToThis.$t('notification.postLikeUnsuccesful'), 2000
              )
            }
          }
        },
        makeAddReactionFunction(post) {
          const refToThis = this

          return async function (reactionType) {
            try {
              const response = await postService.addReaction(post.id, reactionType)
              Object.assign(post, response)
            } catch (error) {
              refToThis.$refs.notification.show(
                refToThis.$t('notification.postLikeUnsuccesful'), 2000
              )
            }
          }
        },
        makeDeletePostFunction(post) {
          const refToThis = this

          return async function () {
            try {
              const response = await postService.deletePost(post.id)
              refToThis.posts = refToThis.posts.filter(p => p.id !== post.id)

              refToThis.$refs.notification.show(
                refToThis.$t('notification.postDelete'), 2000
              )
            } catch (error) {
              refToThis.$refs.notification.show(
                refToThis.$t('notification.postDeleteUnsuccesful'), 2000
              )
            }
          }
        },
        makeUpdatePostFunction(post) {
          const refToThis = this
 
          return async function (newContent) {
            try {
              const response = await postService.updatePost(newContent, post.id)
              post.content = response.content
              refToThis.$refs.notification.show(refToThis.$t('notification.postUpdate'), 2000)
            } catch (error) {
              refToThis.$refs.notification.show(
                refToThis.$t('notification.postUpdateUnsuccesful'), 2000
              )
            }
          }
        }
      }
    })
  </script>
</body>
 
</html>