<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/layout :: head(title=#{postPage.head.title}+${post.id}, pageRelatedHead=~{:: .pageRelatedHead})">
  <th:block class="pageRelatedHead">
    <link rel="stylesheet" th:href="@{/css/post.css}" />

    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/http-vue-loader"></script>
    <script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
  </th:block>
</head>

<body>

  <section>
    <th:block th:replace="fragments/layout :: nav"></th:block>
  </section>

  <div id="vue-app" class="container is-fluid">
    <post v-if="post" :post="post" ></post>

    <post-box v-if="post"
      :post-id="post.id"
      :post-service="postService"
      v-on:update-post-list="setPageToStart"></post-box>

    <div class="box">
      <post-list :posts="comments"></post-list>
      <pagination v-if="pageable" 
        ref="pagination" 
        :pagination="pageable" 
        :on-page-change="onPageChange"></pagination>
    </div>
  </div>

  <script defer th:inline="javascript" type="module">
    import postService from /*[[@{/javascript/postService.js}]]*/''

    const user = /*[[ ${authenticatedUser} ]]*/''
    const postId = /*[[ ${post.id} ]]*/ ''
    const csrfToken = document
      .querySelector('meta[name="_csrf"]')
      .getAttribute('content')

    Object.assign(user, {
      csrfToken
    })

    postService.setCsrfToken(csrfToken)

    const messages = {}
    const dateTimeFormats = {}

    const i18n = new VueI18n({
      locale: '',
      messages,
      dateTimeFormats
    })
    Vue.use(httpVueLoader);

    new Vue({
      i18n,
      el: '#vue-app',
      data() {
        return {
          post: null,
          comments: [],
          postService,
          user,
          pageable: null
        }
      },
      components: {
        'user-image-hero': `url:${contextRoot}vue/UserImageHero.vue`,
        'post-box': `url:${contextRoot}vue/PostBox.vue`,
        'post': `url:${contextRoot}vue/Post.vue`,
        'post-list': `url:${contextRoot}vue/PostList.vue`,
        'pagination': `url:${contextRoot}vue/Pagination.vue`,
      },
      async created() {
        await this.loadLocale(/*[[${#locale}]]*/'default')

        const post = await postService.fetchPost(postId)
        this.addFunctionsTo(post)
        if(user.username === post.poster.username){ 
            post.deletePost = async function () {
            await postService.deletePost(post.id)
            window.location.pathname = '/'
          }
        } 
        this.post = post

        await this.getPosts()
      },
      methods: {
        async loadLocale(id) {
          i18n.locale = ''

          let messagesResource = VUE_LOCALES[id]

          if (!messagesResource) {
            id = 'en-US'
            messagesResource = VUE_LOCALES['default']
          }
          const response = await fetch(`${contextRoot}locale/${messagesResource}`)
          const translations = await response.json()
          dateTimeFormats[id] = translations.dateTimeFormats
          messages[id] = translations.messages
          i18n.locale = id
        },
        setPageToStart() {
          this.$refs.pagination.setPage(1)
        },
        async getPosts(page = 0) {
          try {
            const pageData = await postService.fetchPosts(page, postId)

            pageData.content.forEach((post) => this.addFunctionsTo(post))
            Object.assign(pageData.pageable, {
              totalPages: pageData.totalPages === 0
                          ? 1
                          : pageData.totalPages
            })

            this.pageable = pageData.pageable
            this.comments = pageData.content
          } catch (e) {
            console.log(e)
          }
        },
        async onPageChange(page) {
          await this.getPosts(page-1)
        },
        addFunctionsTo(post) {
          Object.assign(post, {
            likePost:  this.makeLikePostFunction(post),
            addReaction:  this.makeAddReactionFunction(post),
            deletePost: user.username === post.poster.username ? this.makeDeletePostFunction(post) : null,
            updatePost: user.username === post.poster.username ? this.makeUpdatePostFunction(post) : null
          })
        },
        makeLikePostFunction(post) {
          return async function () {
            try {
              const response = await postService.likePost(post.id)
              post.likeCount = response.likeCount
            } catch (error) {
              console.log(error)
            }
          }
        },
        makeAddReactionFunction(post) {
          const refToThis = this

          return async function (reactionType) {
            try {
              const response = await postService.addReaction(post.id, reactionType)
              Object.assign(post, response)
            } catch (error) {
              refToThis.$refs.notification.show(
                refToThis.$t('notification.postLikeUnsuccesful'), 2000
              )
            }
          }
        },
        makeDeletePostFunction(post) {
          const refToThis = this

          return async function () {
            try {
              await postService.deletePost(post.id)
              
              refToThis.comments = refToThis.comments.filter(p => p.id !== post.id)
              return response;
            } catch (error) {
              console.log(error)
            }
          }
        },
        makeUpdatePostFunction(post) {
          return async function (newContent) {
            try {
              const response = await postService.updatePost(newContent, post.id)
              post.content = response.content
            } catch (error) {
              console.log(error)
            }
          }
        }
      }
    })
  </script>
</body>

</html>
