<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/layout :: head(title=#{profilePage.head.title}, pageRelatedHead=~{:: .pageRelatedHead})">
  <th:block class="pageRelatedHead">
    <link rel="stylesheet" th:href="@{/css/profile.css}" />
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/http-vue-loader"></script>
    <script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
  </th:block>
</head>

<body>

  <section>
    <th:block th:replace="fragments/layout :: nav"></th:block>
  </section>

  <div id="vue-app" class="container is-fluid">
    <user-image-hero :user="user"></user-image-hero>
    <notification ref="notification"></notification>

    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <div class="is-child tile box">
          <user-details :is-current-user="user.username === profileUsername"
                        @updated="updateUser" 
                        :user="user"></user-details>
        </div>
        <div class="is-child tile box">
          <h2>{{ $t("profile.myPosts") }}</h2>
          <post-list :posts="posts"></post-list>
        </div>
      </div>
    </div>
  </div>

  <script defer th:inline="javascript" type="module">
    import userService from /*[[@{/javascript/userService.js}]]*/''
    import postService from /*[[@{/javascript/postService.js}]]*/''

    const user = /*[[ ${@userService.getAuthenticatedUser()} ]]*/''
    const profileUser = /*[[ ${user} ]]*/''
    const profileUsername = profileUser.username

    const csrfToken = document
      .querySelector('meta[name="_csrf"]')
      .getAttribute('content')
    Object.assign(user, { csrfToken })
    postService.setCsrfToken(csrfToken)
    userService.setCsrfToken(csrfToken)

    const messages = {}
    const dateTimeFormats = {}

    const i18n = new VueI18n({
      locale: '',
      messages,
      dateTimeFormats
    })
    Vue.use(httpVueLoader);

    new Vue({
      i18n,
      el: '#vue-app',
      data() {
        return {
          posts: [],
          user,
          profileUsername
        }
      },
      components: {
        'user-image-hero': `url:${contextRoot}vue/UserImageHero.vue`,
        'post-list': `url:${contextRoot}vue/PostList.vue`,
        'user-details': `url:${contextRoot}vue/UserDetails.vue`,
        'notification': `url:${contextRoot}vue/Notification.vue`,
      },
      async created() {
        await this.loadLocale(/*[[${#locale}]]*/'default')

        const posts = await this.getPosts()
        this.posts = posts
      },
      methods: {
        async loadLocale(id) {
          i18n.locale = ''

          let messagesResource = VUE_LOCALES[id]

          if (!messagesResource) {
            id = 'en-US'
            messagesResource = VUE_LOCALES['default']
          }
          const response = await fetch(`${contextRoot}locale/${messagesResource}`)
          const translations = await response.json()
          dateTimeFormats[id] = translations.dateTimeFormats
          messages[id] = translations.messages
          i18n.locale = id
        },
        addFunctionsTo(post) {
          Object.assign(post, {
            likePost: this.makeLikePostFunction(post),
            addReaction:  this.makeAddReactionFunction(post),
            deletePost: user.username === post.poster.username ? this.makeDeletePostFunction(post) : null,
            updatePost: user.username === post.poster.username ? this.makeUpdatePostFunction(post) : null
          })
        },
        async getPosts() {
          try {
            const pageData = await postService.fetchPostsOfUser(profileUsername)
            pageData.content.forEach((post) => this.addFunctionsTo(post))
            return pageData.content
          } catch (e) {
            return []
          }
        },
        makeLikePostFunction(post) {
          const refToThis = this

          return async function () {
            try {
              const response = await postService.likePost(post.id)
              post.likeCount = response.likeCount
            } catch (error) {
              refToThis.$refs.notification.show(
                refToThis.$t('notification.postLikeUnsuccesful'), 2000
              )
            }
          }
        },
        makeAddReactionFunction(post) {
          const refToThis = this

          return async function (reactionType) {
            try {
              const response = await postService.addReaction(post.id, reactionType)
              Object.assign(post, response)
            } catch (error) {
              refToThis.$refs.notification.show(
                refToThis.$t('notification.postLikeUnsuccesful'), 2000
              )
            }
          }
        },
        makeDeletePostFunction(post) {
          const refToThis = this

          return async function () {
            try {
              const response = await postService.deletePost(post.id)
              refToThis.posts = refToThis.posts.filter(p => p.id !== post.id)
              refToThis.$refs.notification.show(
                refToThis.$t('notification.postDelete'), 2000
              )
            } catch (error) {
              refToThis.$refs.notification.show(
                refToThis.$t('notification.postDeleteUnsuccesful'), 2000
              )
            }
          }
        },
        makeUpdatePostFunction(post) {
          const refToThis = this

          return async function (newContent) {
            try {
              const response = await postService.updatePost(newContent, post.id)
              post.content = response.content
              refToThis.$refs.notification.show(refToThis.$t('notification.postUpdate'), 2000)
            } catch (error) {
              refToThis.$refs.notification.show(
                refToThis.$t('notification.postUpdateUnsuccesful'), 2000
              )
            }
          }
        },
        async updateUser(changes) {
          const response = await userService.updateUser(this.user.id, changes)
          Object.assign(this.user, response)
        }
      }
    })
  </script>
</body>

</html>