<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="#{welcomePage.head.title}">page title</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <script src="https://kit.fontawesome.com/efd33a6a78.js" crossorigin="anonymous"></script>
    <script th:src="@{/javascript/main.js}" defer></script>
</head>

<body>
    <div class="dot-decoration-background"></div>

    <section class="main">
        <div class="form-container">
            <form id="login-form" class="login-form" method="POST" th:action="@{/login}">
                <h2 class="form-box-title" th:text="#{welcomePage.loginForm.header}">loginForm header</h2>
                <div class="input-group">
                    <input autofocus id="username" class="input-field" name="username" type="text" required
                        oninput="labelTop('username','username-label')" />
                        <i id="requireUsername" class="fas fa-star-of-life"></i>
                        <i id="checkUsername" class="fas fa-check"></i>
                        
                    <label id="username-label" class="form-input-label"
                        th:text="#{welcomePage.loginForm.input.username}">input username</label>
                        <p id="usernameNoti"
                           class="center color-red hide-notification"
                           th:text="#{validation.error.usernamelength}">username must be between 3 and 14</p>
                </div>
                <div class="input-group">
                    <input id="password" class="input-field" name="password" type="password" required
                        oninput="labelTop('password','password-label')" />
                        <i id="requirePassword" class="fas fa-star-of-life"></i>
                        <i id="checkPassword" class="fas fa-check "></i>
                        
                    <label id="password-label" class="form-input-label"
                        th:text="#{welcomePage.loginForm.input.password}">input password</label>
                        <p id="passwordNoti"
                           class="center color-red hide-notification"
                           th:text="#{validation.error.passwordlength}">Password should contain at least 8 characters.</p>
                </div>
                <div class="button-container">
                    <button disabled id="login-button" type="submit" class="signin-button disabled-button"
                        th:text="#{welcomePage.loginForm.input.send}">
                        input send
                    </button>
                </div>
            </form>

            <!-- register form -->

            <form id="signup-form" class="signup-form" method="POST" th:action="@{/signin}" th:object="${user}">
                <h2 class="form-box-title" th:text="#{welcomePage.registerForm.header}">register header</h2>
                <div class="input-group">
                    <input autofocus id="email" class="input-field" name="email" type="email" required
                        oninput="labelTop('email','email-label')" th:field="*{email}" />
                        <i id="requireEmail" class="fas fa-star-of-life"></i>
                        <i id="checkEmail" class="fas fa-check"></i>
                        
                    <label id="email-label" class="form-input-label"
                        th:text="#{welcomePage.registerForm.input.email}">input email</label>
                        <p id="emailNoti" 
                           class="center color-red hide-notification"
                           th:text="#{validation.error.email}">please enter valid email</p>
                </div>
                <div class="input-group">
                    <input id="username-register" class="input-field" name="username-register" required
                        oninput="labelTop('username-register','username-label-register')" th:field="*{username}" />
                        <i id="requireUsernameRegister" class="fas fa-star-of-life"></i>
                        <i id="checkUsernameRegister" class="fas fa-check"></i>
                        
                    <label id="username-label-register" class="form-input-label"
                        th:text="#{welcomePage.registerForm.input.username}"> input username
                    </label>
                    <p id="usernameRegisterNoti"
                       class="center color-red hide-notification"
                       th:text="#{validation.error.usernamelength}">username must be between 3 and 14</p>
                </div>
                <div class="input-group">
                    <input id="password-register" class="input-field" name="password-register" type="password" required
                    oninput="labelTop('password-register','password-label-register')" th:field="*{password}" />
                    <i id="requireRegisterPassword" class="fas fa-star-of-life"></i>
                    <i id="checkRegisterPassword" class="fas fa-check"></i>
                    
                    <label id="password-label-register" class="form-input-label"
                      th:text="#{welcomePage.registerForm.input.password}"> input password
                    </label>
                    <p id="passwordRegisterNoti"
                       class="center color-red hide-notification"
                       th:text="#{validation.error.passwordlength}">Password should contain at least 8 characters.</p>
                </div>

                <div class="input-group">
                    <input id="password-repeat" class="input-field" name="password-repeat" type="password" required
                        oninput="labelTop('password-repeat','password-repeat-label')" th:field="*{passwordRepeat}" />
                        <i id="userPasswordRepeatStar" class="fas fa-star-of-life"></i>
                        <i id="checkRepeatPassword" class="fas fa-check"></i>
                        
                    <label id="password-repeat-label" class="form-input-label">Repeat Password
                    </label>
                    <p id="passwordRepeatNoti"
                       class="center color-red hide-notification"
                       th:text="#{validation.error.passwordsmatch}">Password's do not match.</p>
                </div>

                <div class="button-container">
                    <button disabled id="register-button" type="submit" class="register-button disabled-button" value="Register Account"
                        th:text="#{welcomePage.registerForm.input.send}">
                        input send
                    </button>
                </div>

                <th:block th:each="error : ${#fields.allErrors()}">
                    <p th:text="#{${error}}"
                       style="padding-top: 30px; font-size: 1.2rem"
                       class="center color-red register-form-error">error</p>
                </th:block>
            </form>
        </div>

        <div class="welcome-container">
            <div th:replace="fragments/layout :: locale-switch"></div>
            <div class="welcome-box">
                <p class="welcome-title"
                    th:text="#{welcomePage.welcomeBox.welcomeTitle}">welcome title</p>
                <h1>TOPMESSAGE</h1>
                <p th:text="#{welcomePage.welcomeBox.topMessageDescription}">topmessage description</p>
                <button id="signup-btn" class="signup-btn"
                    th:text="#{welcomePage.welcomeBox.registerButton}">register</button>
                <button id="login-btn" class="login-btn"
                    th:text="#{welcomePage.welcomeBox.loginButton}">login button</button>
                <div class="error-message" th:if="${param.error}">
                   <h2 th:text="#{welcomePage.param.error}">param error</h2> 
                </div>
                <div class="logout-message" th:if="${param.logout}">
                   <h2 th:text="#{welcomePage.param.logout}">param logout</h2> 
                </div>
            </div>
        </div>
    </section>

</body>

</html>
