<template>
  <div class="notification-container">
    <template v-for="obj in messages">
      <div v-on:click="hide(obj.i)"
           :key="obj.message + obj.i" class="notification is-success is-light">
        {{ obj.message }}
      </div>
    </template>
  </div>
</template>

<script>
module.exports = {
  name: 'notification',
  data() {
    return {
      ids: 0,
      messages: []
    }
  },
  methods: {
    show(message, ms) {
      const msg = { i: this.ids++, message }
      this.messages.push(msg)

      setTimeout(() => {
        this.messages =
          this.messages.filter(({ i, _m }) => i !== msg.i)
      }, ms)
    },
    hide(id) {
      this.messages =
        this.messages.filter(({ i, _m }) => i !== id)
    }
  }
}
</script>

<style scoped>
.notification-container {
  max-width: 300px;
  overflow: auto;
  position: fixed;
  word-wrap: break-word;
  z-index: 999;
  right: 30px;
  top: 30px;
  font-size: 1.2rem;
}
</style>
