<template>
  <div class="box">
    <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
      <a class="pagination-previous" v-on:click="previousPage">Previous</a>
      <a class="pagination-next" v-on:click="nextPage">Next page</a>

      <ul class="pagination-list">
        <li>
          <a v-on:click="handlePageChange"
             value="1"
             :class="isCurrent(1)"
             aria-label="Goto page 1"
          >1</a>
        </li>

        <template v-if="pagination.totalPages > 4">
          <li><span class="pagination-ellipsis">&hellip;</span></li>

          <template v-for="i in rangeBetweenEllipses">
            <li :key="i">
              <a v-on:click="handlePageChange"
                 :value="i"
                 :class="isCurrent(i)"
                 :aria-label="'Goto page '+i"
              >{{ i }}</a>
            </li>
          </template>

          <li><span class="pagination-ellipsis">&hellip;</span></li>
        </template>
        <template v-else-if="pagination.totalPages > 1">
          <li>
            <a
              v-on:click="handlePageChange"
              value="2"
              :class="isCurrent(2)"
              aria-label="Goto page 2"
            >2</a>
          </li>
          <li>
            <a v-if="pagination.totalPages > 2"
               v-on:click="handlePageChange"
               value="3"
               :class="isCurrent(3)"
               aria-label="Goto page 3"
            >3</a>
          </li>
        </template>

        <li>
          <a v-if="pagination.totalPages >= 4"
             v-on:click="handlePageChange"
             :class="isCurrent(pagination.totalPages)"
             :value="pagination.totalPages"
             :aria-label="'Goto page ' + pagination.totalPages"
          >{{ pagination.totalPages }}</a>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
module.exports = {
  name: 'pagination',
  props: {
    pagination: {
      type: Object
    },
    onPageChange: {
      type: Function
    }
  },
  data() {
    return {
      currentPage: 1,
      rangeBetweenEllipses: [2, 3, 4]
    }
  },
  methods: {
    isCurrent(page) {
      return {
        'pagination-link': true,
        'is-current': page === this.currentPage
      }
    },
    async setPage(page) {
      await this.changePage(page)
    },
    async handlePageChange(event) {
      const page = parseInt(event.target.getAttribute('value'))
      await this.changePage(page)
    },
    async changePage(page) {
      const invalidValue =
        page < 1 ||
        page > this.pagination.totalPages

      if (invalidValue) {
        return
      }
      await this.onPageChange(page)
      this.currentPage = page
      this.updateRange()
    },
    updateRange() {
      const start = this.currentPage
      const totalPages = this.pagination.totalPages

      if (start <= 3) {
        this.rangeBetweenEllipses = [2, 3, 4]
      } else if (start > totalPages-3) {
        this.rangeBetweenEllipses = [totalPages-3, totalPages-2, totalPages-1]
      } else {
        this.rangeBetweenEllipses = [start-1, start, start+1]
      }
    },
    nextPage() {
      this.changePage(this.currentPage + 1)
    },
    previousPage() {
      this.changePage(this.currentPage - 1)
    },
    getPage() {
      return this.currentPage
    }
  }
}
</script>

<style scoped>
</style>
