<template>
  <div :class="{ commentbox: classVisible }">
    <article
      :class="['media', 'comment-area', { blureffect: showDeleteButton }]"
    >
      <figure class="media-left">
        <p class="image is-64x64">
          <img
            v-if="post.poster.profilePicture"
            :src="profilePictureLink"
          />
          <img v-else src="https://bulma.io/images/placeholders/128x128.png" />
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <strong>@{{ post.poster.username }}</strong>
          <p v-if="!isEditFormClicked" v-on:click="showUpdateInput">
            {{ post.content }}
            <i v-if="post.updatePost" class="fas fa-pen-square"></i>
          </p>
          <div v-if="isEditFormClicked">
            <input
              class="edit-form-input input"
              type="text"
              placeholder="Text input"
              v-model="inputData"
              autofocus
            />
            <span v-on:click="updatePost"
            ><i class="fas fa-check-square"></i
            ></span>
          </div>

          <a
            v-if="readMoreVisible"
            class="readmore-text"
            :href="readmoreLink"
          >{{ $t("index.postReadMore") }}</a
          >
          <br v-if="readMoreVisible" />
          <span>{{ timestamp }}</span>
        </div>
        <nav id="level" class="level is-mobile">
          <div class="level-left">
            <span class="add-like">{{ post.replyCount }}<i class="fas fa-comment"></i>
            </span>

              <span v-on:click="activeIconList" class="add-like"
              >{{post.likeCount + post.smileCount + post.heartCount + post.heartsCount + post.angryCount + post.sadCount + post.laughCount }}<i class="fas fa-smile"></i>
              </span>

          </div>

          <div v-if="isIconListActive" class="icon-list move-up">
            
            <span v-on:click="addReaction('SMILE')"
            >{{post.smileCount}}<i  class="fas fa-smile"></i
            ></span>
            <span v-on:click="addReaction('HEART')"
            >{{post.heartCount}}<i  class="fas fa-kiss-wink-heart"></i
            ></span>
            <span v-on:click="addReaction('HEARTS')"
            >{{post.heartsCount}}<i  class="fas fa-grin-hearts"></i
            ></span>
            <span v-on:click="addReaction('ANGRY')"
            >{{post.angryCount}}<i  class="fas fa-angry"></i
            ></span>
            <span v-on:click="addReaction('SAD')"
            >{{post.sadCount}}<i class="fas fa-sad-tear"></i
            ></span>
            <span v-on:click="addReaction('LAUGH')"
            >{{post.laughCount}}<i class="fas fa-laugh"></i
            ></span>
             <span v-on:click="activeIconList()"
            ><i style="color: red; cursor:pointer" class="fas fa-times"></i></span>
          </div>
        </nav>
      </div>
      <div v-if="post.deletePost" class="media-right">
        <button
          v-if="!showDeleteButton"
          v-on:click="changeButtonStatus"
          class="delete"
        ></button>
      </div>
    </article>
    <div v-if="post.deletePost && showDeleteButton" class="delete-popup-box">
      <button v-on:click="post.deletePost" class="button is-danger is-outlined">
        <span>{{ $t('msgDeleting.delete') }}</span>
        <span class="icon is-small">
          <i class="fas fa-check"></i>
        </span>
      </button>
      <button
        v-on:click="changeButtonStatus"
        class="button is-black is-outlined"
      >
        <span>{{ $t('msgDeleting.cancel') }}</span>
        <span class="icon is-small">
          <i class="fas fa-times"></i>
        </span>
      </button>
    </div>
  </div>
</template>

<script>
module.exports = {
  name: 'post',
  props: {
    post: {
      type: Object,
      default() {
        return {
          id: 1,
          content: 'example',
          likeCount: 0,
          replyCount: 0,
          poster: {
            username: 'default-user',
            profilePicture: null,
          },
          timestamp: '2020-11-24T00:06:21.341',
          likePost: (_evt) => undefined,
        }
      },
    },
  },
  data() {
    return {
      isEditFormClicked: false,
      inputData: this.post.content,
      isActive: false,
      showDeleteButton: false,
      isIconListActive: false,
    }
  },
  methods: {
    showUpdateInput() {
      if (this.post.updatePost) {
        this.isEditFormClicked = true
      }
    },
    async updatePost() {
      try {
        const newContent = this.inputData.trim()
        await this.post.updatePost(newContent)
        this.isEditFormClicked = false
      } catch (e) {
        console.log(e)
      }
    },
    changeButtonStatus() {
      this.showDeleteButton = !this.showDeleteButton
    },
    activeIconList() {
      this.isIconListActive = !this.isIconListActive
    },
    async addReaction(reactionType) {
      await this.post.addReaction(reactionType)
    }
  },
  computed: {
    console() {
      return console
    },
    readmoreLink() {
      return `${contextRoot}posts/${this.post.id}`
    },
    profilePictureLink() {
      return `${contextRoot}rest/files/${this.post.poster.profilePicture.id}`
    },
    timestamp() {
      const { timestamp } = this.post
      return this.$d(new Date(timestamp), 'long')
    },
    readMoreVisible() {
      const { pathname } = window.location
      return !/\/posts\/\d+/.test(pathname)
    },
    classVisible() {
      const currentUrl = window.location.href

      const conditional = currentUrl.includes('view')
        ? this.isActive
        : !this.isActive
      return conditional
    },
  }
}
</script>

<style scoped>
.smiley-icon {
  margin-left: 20px !important;
}

.icon-margin {
  margin-left: 5px !important;
}

.edit-form-input {
  width: auto;
}

.commentbox {
  position: relative;
}
.commentbox:not(:first-child) {
  border-top: 1px solid rgba(219, 219, 219, 0.5);
  margin-top: 1rem;
  padding-top: 1rem;
}
.blureffect {
  filter: blur(1.3px);
  animation: changeBlur 3s;
}
.delete-popup-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: moveDownButton 1s;
}

.delete-popup-box > button {
  margin: 5px 5px;
}
.fa-pen-square {
  margin-left: 10px;
  cursor: pointer;
  font-size: 18px;
  color: orange;
}
.is-mobile {
  margin-left: 5px;
}

#level {
  justify-content: normal !important;
  margin-left: -1px;
}

.fa-check-square {
  margin: 10px 0 0 3px;
  cursor: pointer;
  font-size: 18px;
  color: rgb(62, 216, 139);
}
.icon-list {
  margin-left: 2%;
  padding: 1px 10px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 8px 10px -7px rgba(10, 10, 10, 0.8);
  border-top: 2px solid orange;
  transform: translateY(0px);
}

.move-up {
  opacity: 1;
  animation: iconMoveUp 1s;
}

.move-down {
  opacity: 0;
  animation: iconMoveDown 1s;
}

.icon-list > span,
.level-left > span {
  font-size: 20px;
  margin: 0 3px;
}

.level-left > span {
  font-size: 20px;
}

.media .content:not(:last-child) {
  margin-bottom: 0.25rem !important;
}

.fa-smile, .fa-kiss-wink-heart, .fa-grin-hearts, .fa-angry, .fa-sad-tear, .fa-laugh, .fa-thumbs-up, .fa-comment{
  font-size: 18px; 
  color: #6d6d6d;
  cursor: pointer;
  transition: all .3s;
  margin-bottom: 1px;
}



.fa-smile, .fa-kiss-wink-heart, .fa-angry, .fa-laugh, .fa-thumbs-up, .fa-grin-hearts, .fa-sad-tear{
  margin-left: 2px;
}

.fa-smile:hover, .fa-kiss-wink-heart:hover, .fa-grin-hearts:hover, .fa-angry:hover, .fa-sad-tear:hover, .fa-laugh:hover {
  transform: translateY(-5px);
}

.fa-thumbs-up {
  transform: translateY(-2px);
}
#faOrange{
  color: orange;
}

@keyframes changeBlur {
  0% {
    filter: blur(1px);
  }
  100% {
    filter: blur(1.3px);
  }
}
@keyframes moveDownButton {
  0% {
    left: 50%;
    top: -5%;
    opacity: 0;
    transform: translate(-50%, -50%);
  }
  100% {
    left: 50%;
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes iconMoveUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes iconMoveDown {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}
</style>
