<template>
  <div>
    <template v-for="post in posts">
      <post class="comment-item" :key="post.id" :post="post"></post>
    </template>
  </div>
</template>

<script>
module.exports = {
  name: "post-list",
  props: ["posts"],
  components: {
    post: `url:${contextRoot}vue/Post.vue`,
  },
};
</script>

<style scoped>
</style>
