<template>
  <article class="media feed-media">
    <figure class="media-left">
      <p class="image is-64x64">
        <img src="https://bulma.io/images/placeholders/128x128.png" />
      </p>
    </figure>
    <div class="media-content">
      <div class="field">
        <p class="control">
          <textarea
            v-model="message"
            required
            id="new-post-content"
            class="textarea"
            :placeholder="$t('index.postPlaceholder')"
          ></textarea>
        </p>
      </div>
      <nav class="level">
        <div class="level-left">
          <div class="level-item">
            <a v-on:click="sendPost" id="input-send-post"
               type="submit" value="send" class="button is-info">{{ $t('index.messageSendButtonText') }}</a>
          </div>
        </div>
      </nav>
    </div>
  </article>
</template>

<script>
module.exports = {
  name: 'post-box',
  props: {
    postService: {
      type: Object,
    },
    postId: {
      type: Number,
      default: null,
    }
  },
  data() {
    return {
      message: '',
    }
  },
  methods: {
    async sendPost() {
      try {
        const response = await this.postService.createPost(this.message, this.postId)
        this.$emit('update-post-list', response)
        this.message = ''
      } catch (error) {
        console.log(error)
      }
    },
  },
}
</script>

<style scoped>
</style>
