<template>
  <div class="control">
    {{ label }}
    <template v-for="option in options">
      <label :key="option" class="radio">
        <input v-on:click="emitStateChange" v-model="selected"
               :value="option" type="radio" name="selection">
        {{ option }}
      </label>
    </template>
  </div>
</template>

<script>
module.exports = {
  name: 'radio-button-group',
  props: {
    label: {
      type: String
    },
    options: {
      type: Array
    },
    default: {
      type: String
    }
  },
  data() {
    return {
      selected: this.default
    }
  },
  methods: {
    emitStateChange(event) {
      if (this.selected === event.target.value) {
        return
      }
      this.selected = event.target.value
      this.$emit('state-change', this.selected)
    },
    reset() {
      this.selected = this.default
      this.$emit('state-change', this.selected)
    }
  }
}
</script>

<style scoped>
</style>
