<template>
  <div>
    <h1 class="title">{{ $t("profile.title") }}</h1>
    <table class="table is-bordered is-hoverable is-fullwidth">
      <tbody>
        <tr>
          <td>{{ $t("profile.name") }}</td>
          <td class="table-title">
            <p v-if="!edit">{{ user.name }}</p>
            <input
              type="text"
              v-if="edit"
              v-model="user.name"
              :placeholder="user.name"
            />
          </td>
        </tr>
        <tr>
          <td>{{ $t("profile.dateOfBirth") }}</td>
          <td class="table-title">
            <p v-if="!edit">{{ $d(new Date(user.dateOfBirth), "short") }}</p>
            <input
              type="date"
              v-if="edit"
              v-model="user.dateOfBirth"
              :placeholder="user.dateOfBirth"
            />
          </td>
        </tr>
        <tr>
          <td>{{ $t("profile.sex") }}</td>
          <td class="table-title">
            <p v-if="!edit">{{ user.sex }}</p>
            <input
              v-if="edit"
              v-model="user.sex"
              type="text"
              :placeholder="user.sex"
            />
          </td>
        </tr>
        <tr>
          <td>{{ $t("profile.city") }}</td>
          <td class="table-title">
            <p v-if="!edit">{{ user.city }}</p>
            <input
              v-if="edit"
              v-model="user.city"
              type="text"
              :placeholder="user.city"
            />
          </td>
        </tr>
        <tr>
          <td>{{ $t("profile.country") }}</td>
          <td class="table-title">
            <p v-if="!edit">{{ user.country }}</p>
            <input
              type="text"
              v-model="user.country"
              v-if="edit"
              :placeholder="user.country"
            />
          </td>
        </tr>
      </tbody>
    </table>
    <div>{{ $t("profile.description") }}</div>
    <article class="message is-dark">
      <div class="message-body" v-if="!edit">
        {{ user.description }}
      </div>
      <textarea
        v-if="edit"
        v-model="user.description"
        :placeholder="user.description"
        style="width: 100%"
      >
      </textarea>
    </article>

    <button
      style="margin: 15px auto 0 auto"
      v-if="edit"
      @click="
        save();
        edit = false;
      "
    >
      {{ $t("profile.save") }}
    </button>
    <div v-if="isCurrentUser">
      <button style="margin: 15px auto 0 auto" v-if="!edit" @click="edit = true">
        {{ $t("profile.edit") }}
      </button>
    </div>
  </div>
</template>

<script>
module.exports = {
  name: 'user-details',
  props: ['user', 'isCurrentUser'],
  data() {
    return {
      edit: false,
    }
  },
  methods: {
    save() {
      this.$emit('updated', this.user)
    },
  },
}
</script>

<style scoped>
</style>
