<template>
  <div class="hero-body">
    <article class="media">
      <img
        class="background-images"
        src="https://cdn.pixabay.com/photo/2018/04/22/14/34/externsteine-3341193_1280.jpg"
        alt="background"
      />
    </article>
    <figure id="images" class="image is-128x128 modal-button">
      <img
        style="cursor: pointer"
        class="is-rounded img-profile-picture"
        :src="profilePictureLink"
        v-on:click="toggleModal"
        alt="profilepicture"
      />
    </figure>

    <div
      class="modal modal-profile-picture"
      v-bind:class="{ 'is-active': showModal }"
    >
      <div class="modal-background"></div>
      <div class="modal-card">
        <div class="modal-card-head">
          <p class="modal-card-title">{{ $t('hero.changePicture') }}</p>
          <button
            class="delete modal-close-button"
            aria-label="close"
            v-on:click="toggleModal"
          ></button>
        </div>
        <div class="modal-card-body">
          <input type="file" name="file" ref="file" v-on:change="selectFile" />
          <button
            class="button"
            v-on:click="upload"
          >
            {{ $t('hero.send') }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
module.exports = {
  name: 'user-image-hero',
  props: ['user'],
  data() {
    return {
      selectedFile: '',
      showModal: false
    }
  },
  computed: {
    profilePictureLink() {
      if (this.user.profilePicture) {
        return `${contextRoot}rest/files/${this.user.profilePicture.id}`
      }
      return 'https://bulma.io/images/placeholders/128x128.png'
    }
  },
  methods: {
    toggleModal() {
      this.showModal = !this.showModal
    },
    selectFile() {
      this.selectedFile = this.$refs.file.files[0]
    },
    upload() {
      const formData = new FormData()
      formData.append('file', this.selectedFile)
      fetch(`${contextRoot}rest/users/${this.user.id}/profilepic`, {
        method: 'POST',
        headers: {
          'X-CSRF-TOKEN': this.user.csrfToken,
        },
        body: formData,
      })
        .then((response) => response.json())
        .then((json) => {
          console.log(json)
          this.updateProfilePicture(json)
          this.toggleModal()
          this.selectedFiles = undefined
        })
    },
    updateProfilePicture(data) {
      this.user.profilePicture = data.profilePicture
    },
  },
}
</script>

<style scoped>
</style>
